body
{
width: 100vw;
padding: 0px;
margin: 0px;
}

#header-sec
{
    background-image: url(/assets/img/islandB&B.jpeg);
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero_ban
{
    width: 620pt;
    background-color: #ffffffa0;
    z-index: 5;
    margin: 10vh;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 1rem;
}

.hero_ban h1
{
    padding: 0;
    margin: 0;
}

.content
{
    font-size: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.welcome_ban
{
    width: 100%;
    text-align: center; 
}

.content_item
{
    width: 100%;
}
